<%- include('./layouts/header') -%>
 	<!-- content start -->
	<div class="content mt-2">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-3">
			<div class="card-group">
						<div class="card ">
							<img class="card-img-top img-fluid" src="/" alt="Card image cap">
							<div class="card-block">
								<h4 class="card-title" style="display:contents"></h4>
								<p class="card-text"></p>
								<p class="card-text"> Đồng</p>
								
							</div>
						</div>

					</div>
				</div>		
			</div>
		</div>
	</div>
	<!-- content end -->
</body>

</html>

</html>